@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: 'IM Fell DW Pica', serif;
  font-size: 1.2rem;
  line-height: 1.4;
  background: #d6cca9; 
}
p{
    margin:10px;
}
h1{
 margin-bottom: 10px;
 border-bottom: 3px solid #8b0000;
 font-weight: bold;
 line-height: 1.2;

}
h2 {
  margin-bottom: 8px;
  text-align: center;
  border-bottom: 3px solid #8b0000;
}
footer {
  padding-top: 20px;
  text-align: center;
  font-size: 1rem;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;/* Temp */
}
.headerContainer {
    display:flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.headerText {
    background-color: #facf7f;
    height:auto;
}
.navbar {
  font-family: "Bebas Neue", cursive;
  font-size: 1.4rem;
  background: #181818;
  color: lightgray;
  height: 50px;
}
.navLink:hover {
    color: #8b0000;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 10px;
}
.logo:hover {
    color:#8b0000;
}
.navList {
  display: flex;
  list-style-type: none;
}
.navListItem {
  margin-right: 10px;
}
.navLink {
  color: lightgrey;
  text-decoration: none;
  font-size: 1.5rem;
}
.dwd {
    min-width: 300px;
  max-width: 100%;
  border-style: groove;
}
.d20 {
  max-width: 28px;
}
.optionBoxes{
    display:flex;
    justify-content: space-between;
}
.box {
    background-color: #facf7f;
    margin: 10px;
    flex:1;
    box-shadow: 0 3px 5px rgba(0,0,0,1);
    padding:10px 10px;
    text-align: center;
    height:auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.button {
  border: none;
  color: gold;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 20%;
  cursor: pointer;
}

.fillButton {
  background-color: #facf7f;
  color: black;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 1.1rem; 
  font-weight: bold; 
  border: 3px solid #8b0000;
}
.fillButton:hover {
  background-color: #d6cca9;
  color: black;
}

@media(max-width: 768px) {
    .headerContainer{
        flex-direction: column;
        padding-top:20px;
        text-align: center;
      }
      
    .optionBoxes {
        display:block;
        text-align: center;
    }
    .navLink{
      font-size:1rem;
    }
}